function Moto.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push pointer 0
push argument 0
push argument 1
call Moto.reset 3
pop temp 0
push pointer 0
return
function Moto.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Moto.goUp 0
push argument 0
pop pointer 0
push this 1
push constant 10
add
pop this 1
push constant 0
return
function Moto.goDown 0
push argument 0
pop pointer 0
push this 1
push constant 10
sub
pop this 1
push constant 0
return
function Moto.goRight 0
push argument 0
pop pointer 0
push this 0
push constant 1
add
pop this 0
push constant 0
not
pop this 2
push constant 0
return
function Moto.goLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
pop this 2
push constant 0
return
function Moto.goWheelie 0
push argument 0
pop pointer 0
push this 3
not
pop this 3
push constant 0
return
function Moto.render 0
push argument 0
pop pointer 0
push this 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
push constant 32
call Math.multiply 2
add
call SpriteManager.draw_motorcyle_right_wheelie 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 0
push this 1
push constant 32
call Math.multiply 2
add
call SpriteManager.draw_motorcyle_right 1
pop temp 0
push constant 0
return
goto IF_END0
label IF_FALSE0
push this 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
push constant 32
call Math.multiply 2
add
call SpriteManager.draw_motorcyle_left_wheelie 1
pop temp 0
push constant 0
return
label IF_FALSE2
push this 0
push this 1
push constant 32
call Math.multiply 2
add
call SpriteManager.draw_motorcyle_left 1
pop temp 0
push constant 0
return
label IF_END0
function Moto.reset 0
push argument 0
pop pointer 0
push argument 1
push constant 16
call Math.multiply 2
pop this 0
push argument 2
pop this 1
push constant 0
not
pop this 2
push constant 0
return
function Moto.update 0
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push pointer 0
call Moto.render 1
pop temp 0
push constant 0
return
